.budget > h4 {
  margin: 5px;
 } 

.search-bar {
  display: grid;
  height:30px;
  grid-template-columns: 1fr 1fr;
}

#savings {
  width: 105px;
  font-weight:500;
}

#salary {
  width: 105px;
  font-weight:500;
}

#outgoings {
  width: 105px;
  font-weight:500;
}

#holiday {
  width: 105px;
  font-weight:500;
}

.search-bar > input {
  height: fit-content;
  width:5em;
  text-align: justify;
}

#submit {
  border: 2px solid cornsilk;
  background-color: rgb(241, 87, 4);
  color:cornsilk;
  text-align: justify;
  font-weight:bolder
 }






