#countries-list {
    display: inline-block;
    background-color: lavender;
    border-radius: 12px;
    border: 4px double  rgb(241, 87, 4);
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 9px 20px;
    width: 422px;
    cursor: pointer;
    margin: 5px;
}