.title {
    text-align: center;
    font-size: 40px;
    margin: 5px;
}

.title-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 20px 40px;
    padding: 0px;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
}


.navbar > NarBar {
    justify-self: right;
}

.navbar > ul > li > a {
    margin: 0px 10px;
    text-decoration: none;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.budget-link {
    justify-self: left;
}

.budget-link > a {
    text-decoration: none;
}

.lucky-dip {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
    background-color: rgb(241, 87, 4);
    text-align: center;
    transition: all 0.2s;
}

