.title {
    text-align: center;
    font-size: 40px;
    margin: 5px;
}

.title-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 20px 40px;
    padding: 0px;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
}


.navbar > NarBar {
    justify-self: right;
}

.navbar > ul > li > a {
    margin: 0px 10px;
    text-decoration: none;
}

.navbar > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.budget {
    justify-self: left;
}

.budget > a {
    text-decoration: none;
}



