.country-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "name name name"
    "flag details map";
    border: 1px black solid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 30px;
}

#flag {
    height: 240px;
    width: 350px;
    grid-area: flag;
}

#country-name{
    grid-area: name;
    justify-self: center;
    margin: 5px;
}

.listable {
    grid-area: listable;
}

#map {
    grid-area: map;
}

#region {
    grid-area: region;
}

#id {
    grid-area: buttons;

}

#afford{
    grid-area: afford;
}

