.bm-burger-button {
    position: fixed;
    width: 35px;
    height: 25px;
    left: 36px;
    top: 85px;
}
  
.bm-burger-bars {
    background: #373a47;
}
  
.bm-burger-bars-hover {
    background: #a90000;
}
  
.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: cornsilk;
}
  
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background-image: linear-gradient( rgb(241, 90, 36), rgb(247, 147, 30));
    padding: 2.5em 1.5em 0;
    font-size: 15px;
    color: cornsilk;
}
