.wishlist {
    border: 1px solid black;
    margin: 20px 10%;
    padding: 5px;
    text-align: justify;
    border: 2px cornsilk solid;
    border-radius: 12px;
    background-color: rgba(99, 164, 167, 0.8);
    color: cornsilk;
  
}
.item-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1.5fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border: 2px cornsilk solid;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    margin:5px;
    justify-content: center;
    /* height: 210px; */
}
.item-container > h3 {
    margin: 5px;
    font-size:50px;
    grid-column: 1/span 2 ;
    grid-row: 1;
}
.item-container > p {
    text-align: center;
    font-size: 30px;
    margin:0;
    /* height: 80 px; */
}
.wishlist-button{
    background-color: rgb(138, 0, 0);
    color: cornsilk;
    border: 2px outset rgb(103, 0, 0);
    border-radius:12px;
    grid-column:1/span 2;
    grid-row:4;
    width:200px;
    height:50px;
    justify-self:center;
    align-self:center;
    font-size: 20px;
}
.wishlist-button:hover{
    cursor:pointer;
    box-shadow:0 0 2px 2px;
}