body {
    background-image: url(https://afar-production.imgix.net/uploads/images/afar_post_headers/images/G26aBNQ2lo/original_08f923a8be2d71882a473b3ce4bde4e2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-color: skyblue;
}